body {
  background-color: rgb(225, 225, 225);
}

.rounded-box {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: #bdbdbd;
  border-width: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

/*********************************************************
 * Home
*********************************************************/

.home-header {
  font-family: monospace;
  font-style: italic;
  text-align: left;
  font-size: 30px;

  padding: 10px 20px;
  margin: 0;
  background-color: #457abb; 
  color: hsla(0,0%,100%,1);
}

.home-header a {
  font-size: 17px;
  color:rgba(186,224,255,.8);
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.home-container {

}

.home-tree-container {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  width: calc(100% - 150px);
}

.home-tree-container rules-tree {
  height: 60%;
}

.home-tree-container rule-tester {
  height: 40%;
  padding-top: 10px;
}


.home-container rules-list {
  width: 150px;
}

.home-rules-tree {

}

/*********************************************************
 * Rules list
*********************************************************/

rules-list {
  height: 90vh;
  overflow-y: auto;
}

rules-list .rule-list-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

/*********************************************************
 * Rules tree
*********************************************************/

rules-tree {
  margin-right: 10px;
}

rules-tree .container {
  position: relative;
  margin: 0 auto;
  max-width: none;
}

.dragover {
  background-color: #eee;
}

.delete-rule-icon, .drag-active .delete-rule-icon.drop-container {
  background-color: red;
  width: 120px;
  height: 100px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: url("assets/delete-button.png") no-repeat;
  background-size: cover;
  visibility: visible;
}

.delete-rule-icon.hidden, .drag-active .delete-rule-icon.drop-container.hidden {
  visibility: collapse;
}

.Treant {
  overflow-y: scroll;
}

rules-tree .card.horizontal {
  border-radius: 5px; 
  overflow: hidden;
}

/*********************************************************
 * Tester
*********************************************************/

.regex-box {
  @extend .rounded-box;

  width: auto;
  height: 50px;
  background-color: white;
  margin: 0 10px 0 10px;
  font-size: 25px;
  font-family: monospace;
  padding: 3px 10px 0 10px;
}

.tester-area {
  @extend .rounded-box;
  width: calc(100% - 20px);
  height: 80%;
  margin: 10px;

}

.tester-area textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-color: transparent; 
  font-size: 15px;
  font-family: monospace;
}

sa-wrapper {
  height: 100%;
}

.sa-dropdown {
  visibility: hidden;
}

/*********************************************************
 * Tester Coloring
*********************************************************/

.regex-box brackets {
  color: #1E88E5;
}

.regex-box multiplier {
  color: #90CAF9;
}

.tester-area-highlight {
  color: hsla(0,0%,100%,.9);
  background-color: #1E88E5
}

/*********************************************************
 * Rules Coloring
*********************************************************/

.tree-rule-name.root {
  background-color: #1565C0;
  color: hsla(0,0%,100%,.9);;
}

.tree-rule-name.group {
  background-color: #1E88E5;
  color: hsla(0,0%,100%,.9);;
}
  
.tree-rule-name.decorator {
  background-color: #64B5F6;
}

.tree-rule-name.leaf {
  background-color: #BBDEFB;
}

/*********************************************************
 * Rules
*********************************************************/

.rule-node {
  width: 100px;
  height: 70px;
}

.rule-node .card.horizontal {
  width: 100%;
  height: 100%;
  margin: 0;
}

.card .card-content {
  padding: 0px;
  min-height: 70px;
}

.tree-rule-name {
  padding: 5px 5px;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
}

.tree-rule-desc {
  padding: 5px 3px 5px 3px;
  font-size: 10px;
  line-height: 12px;
}

.tree-rule-value {
  padding: 5px 3px 5px 3px;
  font-size: 11px;
  line-height: 12px;
}

.card-content input.tree-rule-input {
  @extend .rounded-box;
  font-size: 11px;
  text-align: center;
  width: 55px;
  height: 16px;

  border-radius: 3px;
  border-style: solid;
  border-color: #bdbdbd;
  border-width: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

}

.card-content .hidden {
  visibility: collapse;
  height: 0px;
}

.card-content form {
  height: 21px;
}    

// resize fo mobile
@media only screen and (max-width: 500px) {
  rules-tree .rule-node {
    width: 60px;
    height: 30px;
  }

  rules-tree .tree-rule-desc {
    padding: 0;
    height: 0px;
    visibility: hidden;
  }

  rules-tree .card .card-content {
    padding: 0px;
    min-height: 30px;
  }

  rules-tree .tree-rule-name {
    font-size: 9px;
  }

  rules-tree .tree-rule-value {
    font-size: 9px;
    line-height: 10px;
  }

  rules-tree .card-content input.tree-rule-input {
    width: 15px;
    height: 15px;
  }
}


