body {
  background-color: lightgrey;
}

/*********************************************************
 * Home
*********************************************************/

.horizontal-flex {
  display: flex;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

/*********************************************************
 * Rules list
*********************************************************/

rules-list {
  width: 200px;
  height: 80vh;
  overflow-y: auto;
}

/*********************************************************
 * Rules tree
*********************************************************/

rules-tree {
  
}

.dragover {
  background-color: #eee;
}

/*********************************************************
 * Tester
*********************************************************/

.regex-box {
  width: auto;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  margin: 0 10px 0 10px;
}

/*********************************************************
 * Rules
*********************************************************/

.rule-node {
  width: 150px;
  height: 90px;
}

.rule-node .card.horizontal {
  width: 100%;
  height: 100%;
}

.card .card-content {
  padding: 0px;
  min-height: 80px;
}

.tree-rule-name {
  padding: 5px 10px;
  font-weight: 700;
}

.tree-rule-name.leaf {
  background-color: #cefdff;
}

.tree-rule-name.root {
  background-color: #a8c4ff;
}

.tree-rule-name.group {
  background-color: #79fbd0;
}
  
.tree-rule-name.decorator {
  background-color: #f7cc59;
}

.tree-rule-desc {
  padding: 10px ;
  font-size: 12px;
}




