<div class='tooltip card horizontal {{ $ctrl.dragover }}' 
  
  drag-container="{{ $ctrl.isDraggable() }}"
  drag-data="$ctrl.data"
  on-drag-start="$ctrl.handleDragStart($event, $dragData)"
  on-drag-end="$ctrl.handleDragEnd($event, $dragData)"

  drop-container
  drop-accepts="$ctrl.checkDragData($dragData)"
  on-drag-enter="$ctrl.onDragStartEnter($event, $dragData)"
  on-drag-over="$ctrl.onDragOver($event, $dragData)"
  on-drag-leave="$ctrl.onDragLeave($event, $dragData)"
  on-drop="$ctrl.onDrop($event, $dragData)">

  <span class="tooltiptext">{{ $ctrl.data.getDescription() }}</span>

  <div class="card-stacked">
    <div class="card-content">
      <div class="tree-rule-name {{ $ctrl.data.getType() }}">{{ $ctrl.data.getName() }}</div>

      <div class="tree-rule-value {{ $ctrl.data.inputValueMaxLength  > 0 ? '' : 'hidden' }}">
        <form>
          Value: <input class="tree-rule-input" type="text" name="fname" ng-model='$ctrl.data.value' ng-blur='$ctrl.valueBlur()' ng-change=$ctrl.valueChanged() select-on-click>
        </form>
      </div>
    </div>

  </div>
</div>